<div class="page-header">
    <div class="row">
        <h2>
            Add new user
            <small></small>
        </h2>
        <!--<button class="btn btn-default btn-group-sm" [routerLink]="['/user']">User list</button>-->
    </div>
</div>

<form action="#" name="frmAddUser">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group form-group-sm">
                <label for="firstname" class="control-label">UserName</label>
                <input type="text" class="form-control" [(ngModel)]="model.userName" name="username" id="username" placeholder="Username">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="lastname" class="control-label">Password</label>
                <input type="password" class="form-control" [(ngModel)]="model.password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="lastname" class="control-label">Gender</label>
                <input type="text" class="form-control" [(ngModel)]="model.gender" name="gender" id="gender" placeholder="Gender">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="lastname" class="control-label">DOB</label>
                <input type="date" class="form-control" id="dob" placeholder="Date of birth">
            </div>
        </div>

        <div class="btn-group col-lg-3 col-md-4 col-sm-6">
            <button type="button" class="btn btn-primary" (click)="addUser(model);">Submit</button>
            <button type="button" class="btn btn-warning" (click)="resetModel();">Reset</button>
        </div>
    </div>
</form>
