<div class="page-header">
    <h2>
        Add new user
        <small></small>
    </h2>
    <div class="row">
        <button class="btn btn-default btn-group-sm" [routerLink]="['/user']">User list</button>
    </div>
</div>

<form action="#">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group form-group-sm">
                <label for="firstname" class="control-label">UserName</label>
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="lastname" class="control-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="lastname" class="control-label">Gender</label>
                <input type="text" class="form-control" id="gender" placeholder="Gender">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="lastname" class="control-label">DOB</label>
                <input type="date" class="form-control" id="dob" placeholder="Date of birth">
            </div>
        </div>

        <!--<div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group form-group-sm">
                <label for="firstname" class="control-label">UserName</label>
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="lastname" class="control-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="lastname" class="control-label">Gender</label>
                <input type="text" class="form-control" id="gender" placeholder="Gender">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="lastname" class="control-label">DOB</label>
                <input type="date" class="form-control" id="dob" placeholder="Date of birth">
            </div>
        </div>-->

    </div>

    <div class="row">
        <div class="col-md-1 col-lg-1 col-xs-1 col-sm-1">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
