<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">CoreAdmin</a>
        </div>

        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li class="dropdown" [routerLinkActive]="['link-active']">
                    <a href="#" data-toggle="user-menu">
                        <span class='glyphicon glyphicon-user'></span>User
                    </a>
                    <ul id="user-menu" class="dropdown-menu  clearfix" role="menu">
                        <li><a [routerLink]="['/user']">Deatails</a></li>
                        <li><a [routerLink]="['/add-user']">Add New</a></li>
                    </ul>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-th-list'></span> Login
                    </a>
                </li>
                <!--<li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/user']">
                        <span class='glyphicon glyphicon-user'></span>User
                    </a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
